.credentials {
    grid-area: Links;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
  
.credentials .experience, 
.credentials .contact {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}
  
  @media screen and (max-width: 1200px) {
    .credentials .experience, 
    .credentials .contact {
      flex-direction: column;
    }
}
  
.credentials .experience h6, 
.credentials .contact h6 {
    margin-right: 20px;
    min-width: 80px;
} 
  
.credentials p,
.credentials a {
    font-size: clamp(18px, 3vw, 30px);
}