.byRyan {
    grid-area: Ryan;
}
.rights {
    grid-area: Rights;
    /* font-size: 12px; */
    display: flex;
    align-items: center;
}
.rights p {
    margin-left: 8px;
}
.nextProj,
.toTop {
    grid-area: Top;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    z-index: 1;
}
.nextProj img{
    transform: rotate(90deg);
}
.toTop h6 {
    margin-left: 12px;
}

.footer {
    z-index: 2;
    padding-top: 110px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas: "Ryan Ryan Ryan . . . . Rights Rights Rights Top";
}


/* Drawings */
.drawingName, 
.drawingCopyright,
.drawingToTop {
    pointer-events: none;
    width: 60%;
    height: 80px;
    opacity: 0.5;
    position: absolute;
    background-size: 100vw 2602px;
    background-position: -54px -7694px;
    transform: translate(-10px, -20px);
}

.drawingCopyright {
    width: 260px;
    height: 80px;
    background-position: 609px -7694px;
    transform: none;
}

.drawingToTop {
    width: 100px;
    height: 40px;
    background-position: -1494px -7704px;
    transform: none;
}

@media screen and (max-width: 1080px) {
    
}
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: "Ryan Ryan Ryan Ryan Rights Rights Top Top"
    }
}
@media screen and (max-width: 540px) {
    .footer {
        padding: 25px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "Ryan Ryan Ryan Ryan"
            "Rights Rights Top Top";
    }
    .toTop h6 {
        margin: 0;
    }    

    
}

.drawingToTop,
.drawingCopyright,
.drawingName {
    position: absolute;
    pointer-events: none;
    max-width: 240px;
}

.drawingName img {
    width: 100%;
}

.drawingCopyright {
    max-width: 227px;
    transform: translate(-20px, 0px);
}

.drawingToTop {
    max-width: 123px;
    transform: translate(-20px, -20px);
}