.grainBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* z-index: -1; */
    touch-action: none;
    pointer-events: none;
}


.homeCanvasBG {
    touch-action: none;
    /* pointer-events: none; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}