.workGrid {
    /* background: red; */
    padding: 25px;
    width: 100%;
    
    display: grid;
    grid-gap: 120px 40px;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 540px) {
    .workGrid {
        grid-template-columns: repeat(8, 1fr);
        padding: 25px 50px;
    }
}
@media screen and (min-width: 768px) {
    .workGrid {
        padding: 60px 50px;
        grid-template-columns: repeat(11, 1fr);
        grid-gap: 160px 20px;
    }
}
@media screen and (min-width: 1024px) {
    .workGrid {
        grid-gap: 250px 20px;
    }
}

/* iPad Border */
.image1, 
.image4 {
    border: 10px solid #434343;
    border-radius:  40px;
    overflow: hidden;
}



/* ANONY Page */
.image1, 
.image2,
.image3, 
.image4, 
.projDescription, 
.fullImage, 
.col_4, 
.col_8_11, 
.anony_img2 {
    max-width: 100%;
    grid-column: 1 / -1;
}

.projDescription h6 { 
    margin-bottom: 24px;
}
.projDescription p {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 24px
} 


@media screen and (min-width: 540px) {
    .projDescription {
        grid-template-columns: repeat(3, 1fr);
        /* padding: 25px 50px; */
    }

    .image1 {
        grid-column: 2 / -1;
    }
    .image2 {
        grid-column: 1 / -1;
    }
    .image3 {
        grid-column: 1 / -1;
    }
    .image4 {
        grid-column: 1 / -1;
    }
    .projDescription {
        grid-column: 1 / -1;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 768px) {
    .image1 {
        grid-column: 4 / -1;
    }
    /* .projDescription {
        grid-column: 8 / -1;
    }
    .projDescription h6 {
        margin-bottom: 25px;
        margin-top: 100px;
    } */
    .image2 {
        grid-column: 1 / 7;
    }
    .image3 {
        margin-top: -200px;
        grid-column: 4 / -1;
    }
    .image4 {
        grid-column: 1 / 9;
    }
    .col_8_11 {
        grid-column: 2 / -2;
    }
    .projDescription {
        /* grid-column: 1 / -1; */
        grid-gap: 40px;

    }

    .anony_img2 {
        grid-column: 5 / -1;
    }
    
}
@media screen and (min-width: 1024px) {
    .projDescription {
        padding: 25px 50px;
    }
    .anony_img2 {
        grid-column: 6 / -1;
    }

}



.fullImage {
    grid-column: 1 / -1;
    max-width: 100%;
}

