.workGrid {
    /* background: red; */
    padding: 25px;
    width: 100%;
    
    display: grid;
    grid-gap: 120px 40px;
    grid-template-columns: repeat(4, 1fr);
}
.fullwidth {
    grid-column: 1 / -1;
}

@media screen and (min-width: 540px) {
    .workGrid {
        grid-template-columns: repeat(8, 1fr);
        padding: 25px 50px;
    }
}
@media screen and (min-width: 768px) {
    .workGrid {
        padding: 60px 50px;
        grid-template-columns: repeat(11, 1fr);
        grid-gap: 160px 20px;
    }
}
@media screen and (min-width: 1024px) {
    .workGrid {
        grid-gap: 250px 20px;
    }
}

.ipadBorder {
    border: 10px solid #434343;
    border-radius: 30px;
}
.ipadBorder video {
    display: block;
    border-radius: 20px;
}
@media screen and (min-width: 1080px) {
    .ipadBorder {
        border-radius: 50px;
    }
    .ipadBorder video {
        border-radius: 40px;
    }
}

/* iPad Border */
.image1, 
.image4 {
    /* border: 10px solid #434343;
    border-radius:  40px; */
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;
}

/* Browser */
.browser {
    position: relative;
}
.toolbar {
    max-width: 100%;
    /* position: relative;
    top: 38px; */
}
.browserCover {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background: #f2f1ef;
}
.dropshadow1 {
    /* filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)), drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198)), drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)), drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)), drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)), drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802)); */
    box-shadow: 
        0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}


/********************************/
/* ANONY Page */
/********************************/
.image1, 
.image2,
.image3, 
.image4, 
.projDescription, 
.fullImage, 
.col_4, 
.col_8_11, 
.anony_img2 {
    max-width: 100%;
    grid-column: 1 / -1;
}
.image2 {
    margin-bottom: -80px;
}

.projDescription h6 { 
    margin-bottom: 24px;
}
.projDescription p {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 24px
} 

.processContainer {
    display: grid;
    grid-column: 1/-1;
    padding: 40px;
    grid-template-columns: 1fr;
    border: 10px solid #434343;
    border-radius:  40px;
    position: relative;
}
.processContainer img {
    display: block;
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}
.processContainer > div {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
}
.processContainer p, 
.processContainer span {
    text-align: center;
    font-family: "Heebo";
    font-size: 12px;
}
.processContainer p {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5px;
}


@media screen and (min-width: 540px) {
    .projDescription {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr 1.5fr 1.5fr;
        /* padding: 25px 50px; */
    }

    .image1 {
        grid-column: 2 / -1;
    }
    .image2 {
        grid-column: 1 / -1;
    }
    .image3 {
        grid-column: 1 / -1;
    }
    .image4 {
        grid-column: 1 / -1;
    }
    /* .projDescription {
        grid-column: 1 / -1;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
    } */
}


@media screen and (min-width: 768px) {
    .image1 {
        grid-column: 4 / -1;
    }
    /* .projDescription {
        grid-column: 8 / -1;
    }
    .projDescription h6 {
        margin-bottom: 25px;
        margin-top: 100px;
    } */
    .image2 {
        /* grid-column: 1 / 7; */
        grid-column: 5 / -1;
    }
    .image3 {
        margin-top: -200px;
        grid-column: 4 / -1;
    }
    .image4 {
        grid-column: 1 / 9;
    }
    .col_8_11 {
        grid-column: 2 / -2;
    }
    .projDescription {
        grid-column: 1 / -1;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);

        /* grid-column: 1 / -1; */
        grid-gap: 40px;

    }
    .col_4 {
        grid-column: 1 / 8;
    }
    .anony_img2 {
        grid-column: 5 / -1;
    }
    .processContainer {
        grid-column: 1 / 7;
        padding: 75px;
    }
    
}
@media screen and (min-width: 1024px) {
    .projDescription {
        padding: 25px 50px;
    }
    .anony_img2 {
        grid-column: 4 / -1;
    }
    .col_4 {
        grid-column: 2 / 7;
    }


}

.fullImage {
    grid-column: 1 / -1;
    max-width: 100%;
}


/********************************/
/* Club Spotify */
/********************************/
.cs_video1,
.cs_video2,
.cs_image1,
.cs_image3,
.cs_image4,
.cs_iphone
.cs_browser,
.cs_phones
 {
    grid-column: 1 / -1;
    max-width: 100%;
}
.cs_browser {
    grid-column: 1/-1;
}
.cs_phones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.cs_phones .cs_iphone:first-child {
    grid-column: 3/-1;
    grid-row: 1/-2;
}
.cs_phones .cs_iphone:last-child {
    grid-column: 2/-2;
    grid-row: 2/-1;
}

.cs_phones img {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .cs_video1 {
        grid-column: 1/8;
    }
    .cs_video1 {
        grid-column: 1 / 9;
    }
    .cs_image1, 
    .cs_browser {
        grid-column: 2/-2;
    }
    .cs_phones {
        grid-column: 1 / 7;
    }
    .cs_image3 {
        grid-column: 4/-1;
    }
}

@media screen and (min-width: 1080px) {
    .cs_phones {
        grid-column: 1 / 6;
    }
}




/********************************/
/* VAD */
/********************************/

.vad_image1, 
.vad_image2, 
.vad_image3,
.vad_video1,
.vad_video2,
.vad_video3
{
    grid-column: 1 / -1;
    max-width: 100%;
}
.vad_image1, 
.vad_image2, 
.vad_image3 {
    padding-top: 25vh;
}


.linebreak {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.linebreak h6 {
    text-align: right;
}
.linebreak .line {
    width: 90%;
    height: 1px;
    background: #505050;
}

.vadGridImageWrapper {
    grid-column: 1/-1;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "Content";
}

.container_vadGridImages {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    grid-area: Content;
}
.container_vadGridImages img {
    max-width: 100%;
    min-height: 200px;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .vadGridImageWrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: ". Content Content";
        padding: 20px;
        grid-gap: 40px;
    }
    .vad_video1 {
        grid-column: 1 / 8;
    }
    .vad_image1,
    .vad_image3 {
        grid-column: 5 / -1; 
    }
    .vad_image2 {
        grid-column: 1 / 7;
    }
    
}
@media screen and (min-width: 1080px) {
    .container_vadGridImages {
        grid-template-columns: repeat(4, 1fr);
    }
    .vadGridImageWrapper {
        padding: 25px 50px;
    }
    .container_vadGridImages img {
        min-height: 300px;
    }

}

/* Vad Closing */
.vadClosingParent, 
.vadClosingWrapper, 
.vadPoster, 
.vadProcess_container, 
.vadImages_container {
    grid-column: 1 / -1;
}

.vadClosingParent {
    grid-column: 1/-1;
    
    display: grid;
    grid-template-columns: 1fr;
}
.vadClosingWrapper {
    grid-area: content;
}

.vadPoster {
    grid-column: 1/-1;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.vadProcess_container {
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    margin-top: 120px;
    margin-bottom: 120px;

}
.vadProcess_container img {
    max-width: 100%;
    height: 100%;
    /* max-height: 320px; */
    min-height: 320px;
    object-fit: cover;
}



.vadImages_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.vadProcess_container img,
.vadImages_container img {
    max-width: 100%;
    object-fit: cover;
}

.vadDownload_container {
    grid-column: 1 / -1;
    display: grid;
    grid-gap: 20px;
    /* grid-template-columns: auto 1fr;
    justify-self: flex-end; */
    margin-top: 120px;
    margin-bottom: 120px;

    display: block;
    justify-content: flex-end;
    margin-right: 20%;
}
.vadDownload_container h6 {
    padding-top: 24px;
}
.vadDownload_container a {
    font-size: 30px;
    font-family: 'Heebo500';
    display: block;
    text-transform: uppercase;
    transition: opacity ease-in 0.12;
}

.vadDownload_container a:hover {
    opacity: 0.3;
}

.postersContainer img {
    max-width: 100%;
}

.postersContainer {
    grid-column: 1/-1;
}
.posterContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 120px;
}

@media screen and (min-width: 768px) {
    .vadDownload_container,
    .vadProcess_container {
        margin-top: 200px;
        margin-bottom: 200px;
    }
    .vadClosingParent {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: ". content content";
    }

    .vadProcess_container {
        grid-template-columns: repeat(4, 1fr);
    }
    .vadProcess_container img {
        min-height: 400px;
    }

    .vadProcess_container img:first-child {
        grid-column: 1 / 2;
    }
    .vadProcess_container img:last-child {
        grid-column: 2/-1;
        height: 100%;
        width: 100%;
    }
    .vadDownload_container {
        display: flex;
    }
}
@media screen and (min-width: 1080px) {
    .vadImages_container{
        grid-template-columns: repeat(4, 1fr);
    }
    .posterContainer {
        margin-bottom: 200px;
    }
}

