.container {
    width: 100%;
    padding: 100px 50px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-areas: 
        "Back Back Back Back Back Back Back Back Back Back Back "
        "Bio Bio Bio Bio Bio Bio . Cred Cred Cred Cred"
        ;    
}
.wrapper {
    width: 100%;
    padding: 100px
}

/* Biography */
.backArrow {
    transform: rotate(-90deg);
    margin-bottom: 40px;
    grid-area: Back;
}
.bio {
    grid-area: Bio;
}
.bio p {
    margin-bottom: 24px;
}
.projectName {
    grid-area: Name;
    display: flex;
    align-items: baseline;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.projectName h2  {
    font-weight: 500;
    line-height: 90%;
    font-family: "Heebo";
    margin-right: 4px;
}
.projectName span {
    font-size: 12px;
    font-family: "Lora-Regular";
    font-weight: 400;
}
.projectDescription {
    font-size: 25px;
}

/* Credentials */
.credentials {
    grid-area: Cred;
}
.credentialContainer {
    /* margin-bottom: 40px; */
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .credentialContainer {
      flex-direction: column;
    }
}
.credentialContainer h6 {
  margin-right: 20px;
  min-width: 100px;
}
.credentialContainer P {
    font-size: clamp(18px, 3vw, 30px);
    line-height: 1.2;
}
  


/* Number */
.num {
    font-size: 12px;
    margin-top: 48px;
    margin-bottom: 36px;
    padding-top: 16px;
}


/* Drawing */
.drawingTeam {
  pointer-events: none;
  width: 212px;
  height: 122px;
  opacity: 0.3;
  position: absolute;
  /* background-size: 100vw 2602px;
  background-position: -54px -434px; */
}




/* Responsiveness */
@media screen and (max-width: 1080px) {
    .container {
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas: 
        "Bio Bio Bio Bio Bio Cred Cred Cred"
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
          "Bio Bio Bio Bio Bio Cred Cred Cred"
        }
        .projectDescription {
            font-size: 22px;
        }
  }
@media screen and (max-width: 540px) {
    .container {
        padding: 25px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
            "Bio Bio Bio Bio"
            "Cred Cred Cred Cred"
            " Num . . . "
    }

    .projectDescription {
        font-size: 20px;
    }
    
  }


  @media screen and (min-width: 2560px) {
    .container {
        max-width: 2560px;
        margin-left:auto;
        margin-right: auto;
    }
}